<section id="login-form" :propEmail="email">

    <section class="d-flex flex-column align-items-center justify-content-center card-custom-container-precifique" v-if="!showVerificationCode">
        <div class="header-precifique">
            <h1 class="title-header-precifique align-items-center justify-content-center">Crie uma nova senha</h1>
        </div>
        <div class="card-custom-login-precifique">
        
            <div class="card-body-precifique m-4" style="padding-top: 8% !important;">
                <div class="d-flex flex-column justify-content-initial">
                 
                    <h2 class="title-login-precifique">Crie uma nova senha</h2>
                    <p class="text-precifique">Sua senha deve conter pelo menos 6 caracteres.</p>
                </div>
        
                <div class="container-form">
                <password-precifique-form @toStep="toStep($event)"/>

                </div>
            </div>
        </div>    
    </section>

   

</section>